---
const objectives = [
  "เพื่อพัฒนา ระบบตรวจจับการสวมหมวกกันน็อคอัตโนมัติ สำหรับผู้ขับขี่มอเตอร์ไซค์ที่ผ่านเข้าออกพื้นที่มหาวิทยาลัย",
  "เพื่อให้ระบบสามารถ สั่งควบคุมอุปกรณ์ไม้กั้น (Servo) ได้ตามผลการตรวจจับแบบ real-time",
  "เพื่อเพิ่ม ความปลอดภัยและลดภาระงานของเจ้าหน้าที่รักษาความปลอดภัย",
  "เพื่อจัดเก็บข้อมูลและแสดงผลในรูปแบบ Dashboard ออนไลน์ สำหรับติดตามสถิติการสวมหมวกในแต่ละวัน",
  "เพื่อเป็น ต้นแบบของระบบอัตโนมัติด้านความปลอดภัย ที่สามารถต่อยอดใช้ในสถานที่อื่นได้",
];
---

<section class="flex items-center justify-center py-10 bg-amber-50">
  <div class="container p-4 flex flex-col">
    <div class="flex gap-6 flex-col xl:flex-row">
      <div class="flex-1">
        <div>
          <p
            class="uppercase text-amber-500 px-2 mb-2 h-fit rounded-full flex gap-2 items-center"
          >
            วัตถุประสงค์
          </p>
          <h1
            class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold scroll-fade-in drop-shadow-lg mb-6"
          >
            Objectives
          </h1>
        </div>
        <ul class="list-disc list-outside ml-5 marker:text-amber-400 text-lg">
          {
            objectives.map((objective) => (
              <li>
                {objective}
              </li>
            ))
          }
        </ul>
      </div>
      <div class="flex-1">
        <div class="aspect-video rounded-2xl overflow-hidden">
          <iframe
            class="w-full h-full block"
            src="https://www.youtube.com/embed/oa9KFLqirXg?si=txkTRyXQKR-ONTqM"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
