@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));


@utility bg-main {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22940%22%20height%3D%22529%22%20viewBox%3D%220%200%201920%201080%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cfilter%20id%3D%22blur%22%20x%3D%22-681%22%20y%3D%22-757%22%20width%3D%223023%22%20height%3D%222938%22%20filterUnits%3D%22userSpaceOnUse%22%3E%3CfeGaussianBlur%20stdDeviation%3D%2275%22%2F%3E%3C%2Ffilter%3E%3Cfilter%20id%3D%22grain%22%20x%3D%22-681%22%20y%3D%22-757%22%20width%3D%223023%22%20height%3D%222938%22%20filterUnits%3D%22userSpaceOnUse%22%20primitiveUnits%3D%22userSpaceOnUse%22%20color-interpolation-filters%3D%22linearRGB%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%22.2%22%20numOctaves%3D%224%22%20seed%3D%2215%22%20stitchTiles%3D%22no-stitch%22%20x%3D%220%22%20y%3D%220%22%20width%3D%221920%22%20height%3D%221080%22%20result%3D%22turbulence%22%2F%3E%3CfeSpecularLighting%20surfaceScale%3D%2210%22%20specularConstant%3D%221.21%22%20specularExponent%3D%2220%22%20lighting-color%3D%22%23fff%22%20x%3D%220%22%20y%3D%220%22%20width%3D%221920%22%20height%3D%221080%22%20in%3D%22turbulence%22%20result%3D%22specularLighting%22%3E%3CfeDistantLight%20azimuth%3D%223%22%20elevation%3D%22100%22%2F%3E%3C%2FfeSpecularLighting%3E%3C%2Ffilter%3E%3C%2Fdefs%3E%3Crect%20width%3D%221920%22%20height%3D%221080%22%20fill%3D%22%23ffffff%22%2F%3E%3Cg%20filter%3D%22url(%23blur)%22%3E%3Cpath%20d%3D%22M%20536.98%201188.69%20L%20223.68%201524.94%20L%20-158.40%201687.87%20L%20-525.81%201420.50%20L%20-530.92%20954.43%20L%20-234.34%20818.16%20L%20328.78%20720.65%20Z%22%20fill%3D%22%23FB847C%22%2F%3E%3Cpath%20d%3D%22M%201429.19%20782.12%20L%201329.68%201304.10%20L%20885.62%201396.73%20L%20619.08%201263.18%20L%20406.97%201139.54%20L%20338.55%20933.77%20L%20497.26%20583.03%20L%20871.19%20367.89%20L%201163.98%20461.01%20Z%22%20fill%3D%22%23FCB055%22%2F%3E%3Cpath%20d%3D%22M%201134.70%20-113.66%20L%201045.61%20295.18%20L%20599.53%20415.86%20L%20314.66%2091.36%20L%20-91.79%2061.24%20L%2021.39%20-269.92%20L%20159.56%20-575.56%20L%20504.71%20-606.89%20L%20749.34%20-401.52%20Z%22%20fill%3D%22%23609EFF%22%2F%3E%3Cpath%20d%3D%22M%201991.02%20286.47%20L%202130.10%20802.91%20L%201630.76%20629.00%20L%201268.11%20493.96%20L%201095.29%20396.45%20L%201013.73%20289.30%20L%201377.38%20255.83%20L%201740.67%20331.89%20Z%22%20fill%3D%22%23B6B8FD%22%2F%3E%3Cpath%20d%3D%22M%20761.84%20389.62%20L%20689.31%20515.59%20L%20520.90%20556.28%20L%20463.50%20415.00%20L%20529.97%20292.53%20L%20676.20%20315.02%20Z%22%20fill%3D%22%23B6B8FD%22%2F%3E%3Cpath%20d%3D%22M%202191.75%201670.94%20L%202035.23%201995.03%20L%201711.14%202030.71%20L%201441.23%201940.85%20L%201336.47%201670.94%20L%201415.05%201374.85%20L%201711.14%201223.41%20L%201845.24%201393.18%20Z%22%20fill%3D%22%23FB847C%22%2F%3E%3C%2Fg%3E%3Crect%20width%3D%221920%22%20height%3D%221080%22%20fill%3D%22%23FFFFFF%22%20filter%3D%22url(%23grain)%22%20opacity%3D%220.65%22%2F%3E%3C%2Fsvg%3E');
	background-size: cover;
	background-position: center;
}

@theme {
  --font-geist: var(--font-geist-sans);
  --font-geist-mono :  var(--font-geist-mono);
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.795 0.184 86.047);
  --primary-foreground: oklch(0.421 0.095 57.708);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.795 0.184 86.047);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.795 0.184 86.047);
  --sidebar-primary-foreground: oklch(0.421 0.095 57.708);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.795 0.184 86.047);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.795 0.184 86.047);
  --primary-foreground: oklch(0.421 0.095 57.708);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.554 0.135 66.442);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.795 0.184 86.047);
  --sidebar-primary-foreground: oklch(0.421 0.095 57.708);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.554 0.135 66.442);
}


@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

